body {}

body, td, th {
	color: #FFFFFF;
}

html {
	min-height: 100%;
	overflow-x: hidden;
	/* make sure it is at least as tall as the viewport */
}

body {
	background-color: #000000;
	background-repeat: repeat;
	position: relative;
	font-family: none !important;
	background-image: url(images/gifs/background_2.gif);
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* force the BODY element to match the height of the HTML element */
}

.name p {
	margin: 10px;
	line-height: 22px;
}

#container {
	width: 100%;
}

#fullNav {
	height: 100%;
	padding-left: 7%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 7%;
	position: fixed;
	/* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

#title {
	height: 100px;
	padding-bottom: 20px;
	max-width: 100%;
}

#titleHome {
	width: 800px;
	padding-bottom: 20px;
}

#textBox {
	margin: 7%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	left: 50%;
	transform: translate(-50%, 0);
}

@media only screen and (max-width:700px) {
	#fullNav .nav a {
		width: 100% !important;
		text-align: center;
	}
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

.fotorama__wrap {
	margin-left: auto;
	margin-right: auto;
	width: 80% !important;
}

.fotorama img {
	width: 100%;
}

.fotorama, .addToCart {
	position: relative;
	z-index: 2;
}

@media only screen and (max-width:1100px) {
	body {
		background-color: lightblue;
	}
	#title {
		width: 60%;
	}
	#titleHome {
		width: 60%;
	}
	.header {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
	}
	#fullNav {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
		display: inline-block !important;
		position: relative;
		width: 100%;
		padding-left: 0;
		padding-top: 50px
	}
	.nav {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
		width: 100% !important;
	}
	.content {
		margin-left: 0px !important;
	}
	.nav a {
		width: 16.5% !important
	}
	.videoDescription {
		font-size: 1em !important;
	}
}

.backgroundopacity {
	background-color: rgba(0, 0, 0, 0.70);
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.header {
	/* [disabled]background-color: #D66B6D; */
	width: 236px;
	height: 274px;
}

.header .gif {
	width: 164px;
	margin-left: 36px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 8px;
	position: absolute;
	padding-left: 0px;
}

.header .name {
	color: #B85CAC;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 7px;
	position: relative;
	padding-top: 170px
}

.header .logo {
	text-align: center;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	left: 175px;
	top: 341px;
}

.content {
	padding-top: 5vh;
	margin-left: 400px;
	height: 90vh;
}

.alterEgo {
	padding-top: 7%;
	width: 60%;
}

.content .directorial {
	height: 274px;
	width: 274px;
	float: left;
	margin-left: 27px;
}

.content .editorial {
	width: 274px;
	height: 274px;
	float: left;
	margin-left: 27px;
}

.content .personal {
	width: 274px;
	height: 274px;
	float: left;
	margin-left: 27px;
}

.nav {
	width: 236px;
	margin-top: 20px;
}

.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav a {
	height: 42px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	line-height: 34px;
	margin-top: 8px;
	color: white;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.nav a:hover {
	color: #B85CAC;
}

.hoverClass {
	cursor: pointer;
}

#angryAlex {
	z-index: -3;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.videoDescription {
	font-size: 2em;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

h3 {
	text-align: center;
	font-size: 2.75em;
	margin-top: 30px;
}

.hoverClass:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

.freakOut {
	animation: shake 0.5s;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}